
db/

incremental_db/

simulation/

*.bak

ReConf\.asm\.rpt

ReConf\.done

ReConf\.eda\.rpt

ReConf\.fit\.rpt

ReConf\.fit\.summary

ReConf\.flow\.rpt

ReConf\.sta\.summary

ReConf\.sta\.rpt

ReConf\.map\.summary

ReConf_nativelink_simulation\.rpt

ReConf\.map\.rpt

ReConf\.sof

ReConf\.pof
src/modelsim/
*.done
src/ReConf-NN.map.summary
src/ReConf-NN.map.rpt
src/ReConf-NN.flow.rpt
*.summary
src_py/
ecdsa.pdf
doc/_minted-ReConf_Doku/
doc/ReConf_Doku.synctex.gz
doc/ReConf_Doku.toc
doc/ReConf_Doku.out
doc/ReConf_Doku.lot
doc/ReConf_Doku.lol
doc/ReConf_Doku.log
doc/ReConf_Doku.lof
doc/ReConf_Doku.aux
