
db/

incremental_db/

simulation/

*.bak

ReConf\.asm\.rpt

ReConf\.done

ReConf\.eda\.rpt

ReConf\.fit\.rpt

ReConf\.fit\.summary

ReConf\.flow\.rpt

ReConf\.sta\.summary

ReConf\.sta\.rpt

ReConf\.map\.summary

ReConf_nativelink_simulation\.rpt

ReConf\.map\.rpt

ReConf\.sof

ReConf\.pof
